doctype html
html
  head
    title Home automation
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')
    script(src='https://code.jquery.com/jquery-2.2.2.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='../requests.js')
  body
  button(class="btn btn-primary", data-toggle="button", aria-pressed="false", autocomplete="off") turn on

